VITE_GRAPHQL_API_URL=https://api.gocatering.no/graphql/
VITE_ADMIN_AUTH_ROLE=admin
VITE_ADMIN_ALLOWED_ROLES=admin,sub-admin,developer,editor,seo-manager,system-manager
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_VAPID_KEY=
